to work with model, add and fetch data from db programmaticaly

make script file in django app , insde that add one file with .py than dowmload django-extensions than run command in terminal.
python manage.py runscript file_name.py

inside that file you can perfom any opearation which you can perform in normal file  

below example to fetch data from db it will print some data not whole data

In [ ]:
restaurant = Restaurant.objects.all()[0] # print all objects from restaurant module use object.first() $ use object.all()[2] to get 3rd object to print particular object
    print(restaurant) 
    print(connection.queries) # return sql for queryset whihc is given by above print

for print all row use : object.all() 
for see sql for particular opeation you perfomed use connection from db.utils as above code snippet.

to see whole sql there is cmd : python manage.py shell_plus --print-sql, you can acces after install django-extension

---> this will open shell to execute commands

to find numer of row in databse we can use 

object.count()
this will return interger of exact number of rows

objject.last() for last row

In [ ]:
from firstdrf.models import Restaurant
from django.utils import timezone
from django.db import connection
def run():
    # restaurant = Restaurant()
    # restaurant.name = "My italian restaurant"
    # restaurant.latitude = 50.2
    # restaurant.longitude = 20.1
    # restaurant.date_opened = timezone.now()
    # restaurant.Restaurant_type = restaurant.TypeChoices.ITALIAN

    # Restaurant.objects.create(
    #     name = "Pizza Shop",
    #     date_opened = timezone.now(),
    #     Restaurant_type = Restaurant.TypeChoices.ITALIAN,
    #     latitude = 50.36,
    #     longitude = 45.51
    # )

    restaurant = Restaurant.objects.all() # print all objects from restaurant module use object.first() $ use object.all()[2] to get 3rd object to print particular object
    print(restaurant) 

    # print(connection.queries) # return sql for queryset whihc is given by above print

restaurant = Restaurant.objects.first()
    user = User.objects.first()
    
    Rating.objects.create(
        Restaurant = restaurant, User = user, Rating = 3)

Filter in object.all()
  object has method called as filter

  use  like this

  object.filter() # here we have rating field so 

  object.filter(rating = 5) this will return all rating if rating is 5.

django orm lookups 

object.filter(rating__gte = 3) which mean grater than 3
search more for this type of lookups

also use object.excludes(rating__lte) which mean it execute not less than 3 >>>> use connection.queries to see that sql exactley performed by django.

### update

In [ ]:
below code used to update value of table row in orm , here save function save existing operation

In [ ]:
from pprint import pprint
def run():
    restaurant = Restaurant.objects.first()
    print(restaurant.name)

    restaurant.name = "My italian Restaurant"
    restaurant.save()
    pprint(connection.queries)

#### refer this 
 (env) F:\Akhil\DRF\tutorial>python manage.py runscript orm_scripts               
jhjdkkjgv               
[{'sql': 'SELECT "firstdrf_restaurant"."id", "firstdrf_restaurant"."name", '            
         '"firstdrf_restaurant"."website", '               
         '"firstdrf_restaurant"."date_opened", '                
         '"firstdrf_restaurant"."latitude", "firstdrf_restaurant"."longitude", '              
         '"firstdrf_restaurant"."Restaurant_type" FROM "firstdrf_restaurant" '               
         'ORDER BY "firstdrf_restaurant"."id" ASC LIMIT 1',             
  'time': '0.000'},    

  jkfhvjkdvnjdvfdk

 {'sql': 'UPDATE "firstdrf_restaurant" SET "name" = \'My italian Restaurant\', '            
         '"website" = \'\', "date_opened" = \'2025-08-28\', "latitude" = 50.2, '       
         '"longitude" = 20.1, "Restaurant_type" = \'IT\' WHERE '   
         '"firstdrf_restaurant"."id" = 1',              
  'time': '0.047'}]

### get_or_create method